html
    head
        include ../templates/header
        title NK Malecnik
    body
    include ../templates/logoBar
    .wrapper
        include ../templates/navbar
        .contentWrapper
            h1 Igralci
            if players
                each player in players
                    a(href=`/players/edit-player/${player.ID}`)= `${player.name} ${player.surname}` 
            a(href='/players/new-player') Nov igralec