html
    head
        include ../templates/header
        title NK Malecnik
    body
        include ../templates/logoBar
        .wrapper
            include ../templates/navbar
            .contentWrapper
                h1 Admin page
                each u in users
                   a(href='admin/change-password/' + u.ID)= u.name + ' ' + u.surname
                if error
                    each e in error
                        h4= e