html
    head
        include ../templates/header
        title NK Malecnik
    body
        include ../templates/logoBar
        .wrapper
            include ../templates/navbar
            .contentWrapper
                h1 Sprememba gesla
                p= `email ${email}`
                    form(action=`/admin/changePassword/${id}`, method='post')
                        input(type='password' name='password' id='password') 
                        input(type='submit' value='Spremeni')
                if error
                    h4= error