html
    head
        include ../templates/header
        title NK Malecnik
    body
        h1 Lokacije
        each location in locations
            a(href='/settings/locations/edit-location/' + location.ID)= location.name
        a(href='/settings/new-location/') Nova lokacija