html
    head
        include ../templates/header
        title NK Malecnik
    body
        h1 Lokacije
        each location in locations
            p= location.name
        a(href='/settings/new-location') Nova lokacija