html
    head
        include ../templates/header
        title NK Malecnik
    body
    include ../templates/logoBar
    .wrapper
        //-include ../templates/navbar
        .contentWrapper
            .container.ml-1.mt-1
                h1 Dodaj lokacijo
                form(action='/settings/addLocation', method='post')
                    .form-group
                        label(for='name') Ime:
                        input(class='form-control' type='text' name='name' id='name' placeholder='Vnesite ime lokacije.') 
                    .form-group
                        label(for='color') Barva:
                        input(class='form-control' type='color' name='color' id='color')
                    .form-group
                        input(class='btn btn-primary formButton' type='submit' value='Dodaj')
                if error
                    each e in error
                        h4= e