@import '_colors.scss';
@import '_logoBar.scss';
@import '_navbar.scss';

h1{
    color: $base-color;
}

a,input{
    display: block;
}

.center-login{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25% 0 0 0;
}

.wrapper{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.contentWrapper{
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-content: flex-start;
    float: right;
}

.userContent{
    display: flex;
    flex-direction: column;
}

.container{
    width:150%;
}

.formButton{
    width:100%;
}

textarea{
    display: block;
}

.newPlayerForm{
    width:150%;
}

.formButton{
    width:100%;
}
@import '_mediaQueries.scss';