html
    head
        include ../templates/header
        title NK Malecnik
    body
        h1 Ekipe
        each team in teams
            p= team.team + ' ' + team.username
        a(href='/teams/add-team') Dodaj ekipo