html
    head
        include ../templates/header
        title NK Malecnik
    body
        h1 Ekipe
        each team in teams
            a(href=`/teams/team/${team.teamID}`)= `${team.team}`
        a(href='/teams/add-team') Dodaj ekipo