html
    head
        include templates/header
        title NK Malecnik
    body
        include templates/logoBar
        h2.welcome
        h2.user= user.name + ' ' + user.surname

        include templates/navbar
        
       

        
        