html
    head
        include templates/header
        title NK Malecnik
    body
        h1 Dashboard simple
        h2=user.email + ' ' + user.role
        a(href='/users/logout') Odjava
        a(href='/players/my-players') Moji igralci
        a(href='/players') Vsi igralci
        a(href='/teams') Ekipe
        a(href='/calendar') Koledar
        a(href='/trainings') Treningi
        a(href='/matches') Tekme
        a(href='/presence-report') Porocilo prisotnosti
        a(href='/scouting') Skavting
        a(href='/payroll') Placilna lista
        a(href='/users') Uporabniki
        a(href='/settings') Nastavitve