html
    head
        include templates/header
        title NK Malecnik
    body
        h1 Prijava
        form(action='/users/login', method='post')
            input(type='text', id='email', name='email', value='admin')
            br
            input(type='password', id='password', name='password', value='admin')
            br
            button(type='submit') Prijava
        if err
            h4= err