html
    head
        title NK Malecnik
        include templates/header
    body
        .container
            .center-login
                .media
                    .media-body
                        img(src='../images/logo.png', class='mr-1', alt='Logotip NK Malečnik', height='60px', width='60px')
                    h1(class='mt-1 mb-1 ml-1') NK Malečnik
                br
                form(action='/users/login', method='post')
                    div(class='input-group mb-3')
                        div(class='input-group-prepend')         
                        input(type='text', class='form-control', id='email', name='email', value='admin', placeholder='E-mail', aria-label='E-mail', aria-describedby='basic-addon1')
                    div(class='input-group mb-3')
                        div(class='input-group-prepend')
                        input(type='password', class='form-control', id='password', name='password', value='admin', placeholder='Geslo', aria-label='Geslo', aria-describedby='basic-addon1')
                    button(class='btn btn-primary', type='submit') Prijava
        if err
            h4= err
        if data
            h4= data
        script(src='https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js')