html
    head
        link(rel='stylesheet', href='styles/index.css')
        title NK Malecnik
    body
        h1 Prijava
        form(action='/login', method='post')
            input(type='text', id='email', name='email')
            br
            input(type='text', id='password', name='password')
            br
            button(type='submit') Prijava