nav.navbar.navbar-light.bg-light.customNav
    .navbar-collapse
        ul.navbar-nav
            li
                a.nav-item(href='/dashboard') Domača stran
            li
                a.nav-item(href='/users/logout') Odjava
            li
                a.nav-item.dropdown-toggle#navbarDropdown( role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Igralci
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='/players') Vsi igralci
                    a.dropdown-item(href='/players/my-players') Moji igralci
                    a.dropdown-item(href='/players/new-player') Dodaj igralca
            li
                a.nav-item(href='/teams') Ekipe
            li
                a.nav-item(href='/calendar') Koledar
            li
                a.nav-item(href='/trainings') Treningi
            li
                a.nav-item(href='/matches') Tekme
            li
                a.nav-item(href='/presence-report') Porocilo prisotnosti
            li
                a.nav-item(href='/scouting') Skavting
            li
                a.nav-item(href='/payroll') Placilna lista
            li
                a.nav-item(href='/users') Uporabniki
            li
                a.nav-item(href='/settings') Nastavitve
            if user.role == 1
            li
                a.nav-item.dropdown-toggle#navbarDropdown( role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Admin
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='/admin') Gesla
                    a.dropdown-item(href='/admin/pin-requests') Pripete objave
