nav.navbar.navbar-light.bg-light.customNav
    .navbar-collapse
        ul.navbar-nav
            li
                a.nav-item(href='/dashboard') Domača stran
            li
                a.nav-item(href='/users/logout') Odjava
            li
                a.nav-item(href='/players/my-players') Moji igralci
            li
                a.nav-item(href='/players') Vsi igralci
            li
                a.nav-item(href='/teams') Ekipe
            li
                a.nav-item(href='/calendar') Koledar
            li
                a.nav-item.dropdown-toggle#navbarDropdown(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Treningi
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='/trainings') &nbsp&nbsp&nbspNov trening
                    a.dropdown-item(href='/trainings') &nbsp&nbsp&nbspMoji treningi
                    a.dropdown-item(href='/trainings') &nbsp&nbsp&nbspVsi treningi
                    a.dropdown-item(href='/trainings') &nbsp&nbsp&nbspPredloge treningov
            li
                a.nav-item.dropdown-toggle#navbarDropdown(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Tekme
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='/matches') &nbsp&nbsp&nbspNova tekma
                    a.dropdown-item(href='/matches') &nbsp&nbsp&nbspMoje tekme
                    a.dropdown-item(href='/matches') &nbsp&nbsp&nbspVse tekme
            li
                a.nav-item(href='/presence-report') Porocilo prisotnosti
            li
                a.nav-item(href='/scouting') Skavting
            li
                a.nav-item(href='/payroll') Placilna lista
            li
                a.nav-item(href='/users') Uporabniki
            li
                a.nav-item.dropdown-toggle#navbarDropdown(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Nastavitve
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='/settings/location') &nbsp&nbsp&nbspLokacija
                    a.dropdown-item(href='/settings/locations') &nbsp&nbsp&nbspVse lokacije
                    a.dropdown-item(href='/settings/newLocation') &nbsp&nbsp&nbspNova lokacija
                    a.dropdown-item(href='/settings/settings') &nbsp&nbsp&nbspNastavitve
            if user.role == 1
            li
                a.nav-item.dropdown-toggle#navbarDropdown( role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Admin
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='/admin') &nbsp&nbsp&nbspGesla
                    a.dropdown-item(href='/admin/pin-requests') &nbsp&nbsp&nbspPripete objave
