nav.navbar.navbar-light.bg-light.customNav
    .navbar-collapse
        ul.navbar-nav
            a.nav-item(href='/dashboard') DomaÄa stran
            a.nav-item(href='/users/logout') Odjava
            a.nav-item(href='/players/my-players') Moji igralci
            a.nav-item(href='/players') Vsi igralci
            a.nav-item(href='/teams') Ekipe
            a.nav-item(href='/calendar') Koledar
            a.nav-item(href='/trainings') Treningi
            a.nav-item(href='/matches') Tekme
            a.nav-item(href='/presence-report') Porocilo prisotnosti
            a.nav-item(href='/scouting') Skavting
            a.nav-item(href='/payroll') Placilna lista
            a.nav-item(href='/users') Uporabniki
            a.nav-item(href='/settings') Nastavitve
            if user.role == 1
                a.nav-item(href='/admin') Admin
