html
    head
        include ../templates/header
        title NK Malecnik
    body
    include ../templates/logoBar
    .wrapper
        include ../templates/navbar
        .contentWrapper
            h1 Scouting
            if scoutedPlayers
                each player in scoutedPlayers
                    h5= `${player.name} ${player.surname}`
                    a(href=`/scouting/deletePlayer/${player.ID}`) Izbrisi
            a(href='/scouting/new-player') Dodaj