html
    head
        include ../templates/header
        title NK Malecnik
    body
        include ../templates/logoBar
        .wrapper
            include ../templates/navbar
            .contentWrapper
                each user in data
                    .userContent
                        a(href='users/' + user.ID)= user.name + ' ' + user.surname
                a(href='users/add-user') Dodaj uporabnika
                if error
                    each e in error
                        h4= e